# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Editors
.vscode/
.idea/

# GitHub workflow artifacts
.github/workflows/**/action_output.txt

# Ignore package created by the workflow
comfy_package.zip

# Mac
.DS_Store
